<!DOCTYPE html>
<html lang="en-US">
<head>
    <title> ALTERNATIVE MEDIA SYSTEMS - HOME</title>
    <link href="https://vjs.zencdn.net/7.4.1/video-js.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<!-- MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT -->
<div class="MAIN_GRID">
    <div class=HUB_VIDEO>
        <div class="HUB_VIDEO_CONTENT">
            <video id="HUB_VIDEO_CONTENT" class="video-js vjs-default-skin"  controls preload="auto" poster="RESOURCES/IMAGES/THUMBNAIL_WHITE.jpg" data-setup="">
                <source src="RESOURCES/VIDEOS/PLACEHOLDER.mp4" type='video/mp4'>

                <p class="vjs-no-js"> 
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
                <script src="https://vjs.zencdn.net/7.4.1/video.js"></script>

            </video>
        </div>
    </div>
    <div class=HUB_DIRECTORY>
        <div class="HUB_DIRECTORY_CONTENT">
            <a href="DIRECTORY.HTML">
                MEDIA SYSTEM DIRECTORY
            </a>
        </div>
    </div>
    <div class=HUB_BLOG>
        <div class="HUB_BLOG_GRID">
            <div class="HUB_BLOG_TITLE"> 
               <span>BLOG</span>
            </div>
        </div>
    </div>
    <div class=HUB_FORUM>
        <div class="HUB_FORUM_GRID">
            <div class="HUB_FORUM_TITLE"> 
               <span>FORUM</span>
            </div>
        </div>
    </div>
</div>   
<!-- MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT MAIN CONTENT -->      
<!-- NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION -->
<script >
let TOGGLE_MENU_STATUS = false;

    function TOGGLE_MENU() {
    if (TOGGLE_MENU_STATUS === false) {
        document.getElementById("MENU_CONTENT").style.width = "33.3333%";
        document.getElementById("MENU_CONTENT").style.borderRightStyle = "solid";
        TOGGLE_MENU_STATUS = true;
        document.getElementById("MENU_ICON_CHAR").innerHTML = '|';
    }
    else if (TOGGLE_MENU_STATUS  === true){
        document.getElementById("MENU_CONTENT").style.width = "0px";
        document.getElementById("MENU_CONTENT").style.borderRightStyle = "none";
        TOGGLE_MENU_STATUS  = false;
        document.getElementById("MENU_ICON_CHAR").innerHTML = '=';
    }
}

let TOGGLE_SEARCH_STATUS = false;

    function TOGGLE_SEARCH(){
        if (TOGGLE_SEARCH_STATUS === false) {
            document.getElementById("SEARCH_BAR_EXPAND").style.height = "calc(1px + 50vh)";
            document.getElementById("SEARCH_BAR_EXPAND").style.borderStyle = "solid";
            TOGGLE_SEARCH_STATUS = true;
        }
        else if (TOGGLE_MENU_STATUS  === true){
            document.getElementById("SEARCH_BAR_EXPAND").style.height= "0px";
            document.getElementById("SEARCH_BAR_EXPAND").style.borderStyle = "none";
            TOGGLE_MENU_STATUS  = false;
        }
    }

</script>

<div id="MENU_CONTENT" class="MENU_CONTENT">

    <a class="MENU_CONTENT_HOME" href="HOME">HOME</a>
    <a class="MENU_CONTENT_PRODUCT_DIRECTORY" href="DIRECTORY">PRODUCT DIRECTORY</a>
    <a class="MENU_CONTENT_BLOG" href="BLOG">BLOG</a>
    <a class="MENU_CONTENT_FORUM" href="FORUM">FORUM</a>
    <a class="MENU_CONTENT_SOCIAL" href="SOCIAL">SOCIAL</a>
    <a class="MENU_CONTENT_USER_AUTH" href="LOGIN">LOGIN</a>
    <a class="MENU_CONTENT_HELP" href="HELP">HELP</a>
    <a class="MENU_CONTENT_SPACER"></a>
    <a class="MENU_CONTENT_INFO" href="INFO">INFO</a>
    <a class="MENU_CONTENT_CONTACT" href="CONTACT">CONTACT</a>
    <a class="MENU_CONTENT_CONNECT" href="CONNECT">CONNECT</a>
    <a class="MENU_CONTENT_FRAMEWORK" href="FRAMEWORK">FRAMEWORK</a>
    <a class="MENU_CONTENT_ASSISTANCE" href="ASSISTANCE">ASSISTANCE</a>
    <a class="MENU_CONTENT_SPACER2"></a>
    <a class="MENU_CONTENT_PRIVACY_POLICY" href="PRIVACY_POLICY">PRIVACY POLICY</a>
    <a class="MENU_CONTENT_TOS" href="TOS">TERMS OF USE</a>
    <a class="MENU_CONTENT_USER_AGREEMENT" href="USER_AGREEMENT">USER AGREEMENT</a>
</div>

<div id="SEARCH_BAR_EXPAND" class="SEARCH_BAR_EXPAND">
</div>

<div class="GRID_NAV">
    <div class="NAV_BOX_LEFT">
        <div class="MENU">
            <div class="MENU_ICON">
                <button id=MENU_ICON_CHAR onclick="TOGGLE_MENU()"  >=</button>
            </div>
        </div>
        <div class="TITLE">
            <a href="HOME"> 
                <span>
                    ALTERNATIVE MEDIA SYSTEMS
                </span> 
            </a>
        </div>
    </div>
    <div class="NAV_BOX_MIDDLE">
        <div class="SEARCH_BAR">
            <input type="text" placeholder="SEARCH" onclick="TOGGLE_SEARCH()" type="button">
            <div id="SEARCH_BAR_EXPAND_CANCEL" class="SEARCH_BAR_EXPAND_CANCEL">
                    <button>X</button>
            </div>
        </div>
    </div>
    <div class="NAV_BOX_RIGHT">
        <div class = "LOGIN">
            <a href="LOGIN.html"> 
                <span>
                    LOGIN
                </span> 
            </a>
        </div>
        <div class="HELP">
            <div class="HELP_ICON">
                <a href=" HELP.html"> 
                    <span>
                        ?
                    </span> 
                </a>
            </div>
        </div>
    </div>
        <div class="NAV_BOX_BOTTOM">
            <div class="NEWS_BAR">
                <a class="NEWS_BAR_CONTENT">
                    <span>
                        PRE-ALPHA DEVELOPMENT
                    </span>
                </a>
            </div>
            <div class="NAV_BOX_BOTTOM_RIGHT">
                <div class="SOCIAL_GRID">
                            <a class="SOCIAL_GRID_ITEMS" href="https://www.youtube.com/channel/UCZelTD19DL6RujiOVlqN5dw">
                                YT
                            </a>
                            <a class="SOCIAL_GRID_ITEMS" href="https://www.instagram.com/alternativemediasystems/">
                                IG
                            </a>
                            <a class="SOCIAL_GRID_ITEMS" href="https://www.facebook.com/AltMediaSystems/">
                                FB
                            </a>
                            <a class="SOCIAL_GRID_ITEMS" href="https://twitter.com/AltMediaSystems">
                                TW
                            </a>
                            <a class="SOCIAL_GRID_ITEMS" href="https://www.linkedin.com/company/alternative-media-systems/about/">
                                LI
                            </a>
                </div>
            </div>
            <div class="NAV_BOX_BOTTOM_LEFT">
                <a class="CURRENT_VIEWING">
                    VIEWING - MS_001
                </a>
            </div>
        </div>
</div>
<!-- NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION NAVAGATION -->
<!-- FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER -->
<div class="GRID_FOOTER">      
        <div class="FOOTER_INFORMATION">
            <a href="INFORMATION.html"> 
                <span>
                    INFORMATION 
                </span> 
            </a>
        </div>
        <div class="FOOTER_INFORMATION_CONTENT">
            <ul>
                <li>                    
                    <a href="ABOUT.html"> 
                        <span>
                            ABOUT
                        </span> 
                    </a>
                </li>
                <li>                    
                    <a href="NEWS.html"> 
                        <span>
                            NEWS
                        </span> 
                    </a>
                </li>
                <li>
                    <a href="LEGAL.html"> 
                        <span>
                            LEGAL
                        </span> 
                    </a>
                </li>
            </ul>
        </div>
        <div class="FOOTER_CONTACT">
            <a href="CONTACT.html"> 
                <span>
                    CONTACT 
                </span> 
            </a>
        </div>
        <div class="FOOTER_CONTACT_CONTENT">
            <ul>
                <li>                    
                    <a href="mailto:SUPPORT@ALTERNATIVEMEDIASYSTEMS.COM">
                        <span>EMAIL</span> 
                    </a>
                </li>
                <li>                    
                    <span>
                        +1 805 770 0723 
                    </span> 
                </li>
                <li>                    
                    <a href="LOCATION.html"> 
                        <span>
                            40° 47' 10" N  73° 57' 42" W 
                        </span> 
                    </a>
                </li>
                <li>                    
                    <span>
                        MONDAY-SUNDAY || 00:00 - 24:00
                    </span> 
                </li>
                <li>
                    <a href="ASSESSMENT.html"> 
                        <span>
                            ASSESSMENT
                        </span> 
                    </a>
                </li>
            </ul>
        </div>
        <div class="FOOTER_CONNECT">
            <a href="CONNECT.html"> 
                <span>
                    CONNECT 
                </span> 
            </a> 
        </div>
        <div class="FOOTER_CONNECT_CONTENT">       
            <div class="FOOTER_CONNECT_CONTENT_LEFT">
                <ul>
                    <li>                    
                        <a href=" BLOG.html"> 
                            <span>
                                BLOG
                            </span> 
                        </a>
                    </li>
                    <li>                    
                        <a href="https://www.youtube.com/ALTERNATIVEMEDIASYSTEMS"> 
                            <span>
                                YOUTUBE
                            </span> 
                        </a>                      
                    </li>
                    <li>                    
                        <a href="FACEBOOK.html"> 
                            <span>
                                FACEBOOK
                            </span> 
                        </a>
                    </li>
                    <li>
                        <a href="INSTAGRAM.html"> 
                            <span>
                                INSTAGRAM
                            </span> 
                        </a>
                    </li>
                </ul>
            </div>
            <div class="FOOTER_CONNECT_CONTENT_RIGHT">
                <ul>
                    <li>
                        <a href="FORUM.html"> 
                            <span>
                                FORUM
                            </span> 
                        </a>
                    </li>
                    <li>
                        <a href=" LINKEDIN.html"> 
                            <span>
                                LINKEDIN
                            </span> 
                        </a>
                    </li>
                    <li>
                        <a href=" TWITTER.html"> 
                            <span>
                                TWITTER
                            </span> 
                        </a>
                    </li>
                </ul>
            </div> 
            <div class="EMAIL_SUB">    
                <div class="EMAIL_SUB_INPUT">    
                    <input type="text" placeholder="EMAIL SUBSCRIPTION">
                </div> 
                <div class="EMAIL_SUB_BUTTON">
                    <button>
                        REGISTER
                    </button>
                </div> 
            </div>    
        </div>
        <div class="FOOTER_FRAMEWORK">
            <a href=" FRAMEWORK.html"> 
                <span>
                    FRAMEWORK 
                </span> 
            </a>
        </div>
        <div class="FOOTER_FRAMEWORK_CONTENT">
            <ul>
                <li>                    
                    <a href=" DIRECTORY.html"> 
                        <span>
                            DIRECTORY
                        </span> 
                    </a>
                </li>
            </ul>
        </div>
        <div class="FOOTER_ASSISTANCE">
            <div>
                <a href=" ASSISTANCE.html"> 
                    <span>
                        ASSISTANCE 
                    </span> 
                </a>
            </div> 
        </div>
        <div class="FOOTER_ASSISTANCE_CONTENT">
            <ul>
                <li>                    
                    <a href=" CUSTOMER_SERVICE.html"> 
                        <span>
                            CUSTOMER SERVICE
                        </span> 
                    </a>
                </li>
                <li>                    
                    <a href=" FAQ.html"> 
                        <span>
                            FREQUENTLY ASKED QUESTIONS 
                        </span> 
                    </a>
                </li>
            </ul>
        </div>
        <div class="COPYRIGHT">
            <a href=" COPYRIGHT.html"> 
                <span>
                    || 2018 (C) ALTERNATIVE MEDIA SYSTEMS ||
                </span> 
            </a>
        </div>
        <div class="PRIVACY_POLICY">
            <a href=" PRIVACY_POLICY.html"> 
                <span>
                    || PRIVACY POLICY ||
                </span> 
            </a>
        </div>
        <div class="TERMS_OF_USE">
            <a href=" TERMS_OF_USE.html"> 
                <span>
                    || TERMS OF USE ||
                </span> 
            </a>
        </div>
        <div class="USER_AGREEMENT">
            <a href=" USER_AGREEMENT.html"> 
                <span>
                    || USER AGREEMENT ||
                </span> 
            </a>
        </div>
        <div class="TIME">
           || 00:01 01 JANUARY 0001 || 
        </div>       
</div>
<!-- FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER -->